// CSS to be applied to theme
$loader: 'https://s3-us-west-2.amazonaws.com/he-customr/assets/loader.gif'
$loaded: 'https://s3-us-west-2.amazonaws.com/he-customr/assets/uploaded.png'
$remove: 'https://s3-us-west-2.amazonaws.com/he-customr/assets/remove.png'
$mobile: 550px

#customr-form
  &.loaded
    .customr-actionable
      display: block

  .customr-success
    display: none
    background: #45b36c
    color: white
    padding: 10px

    &.active
      display: inline-block

.customr-container
  margin-left: -5px

.customr-container-item
  box-sizing: border-box
  padding: 0 5px

  &.half-wide, &.third-wide, &.fourth-wide
    display: inline-block
    margin-right: -4px

  &.half-wide
    width: 50%

    @media (max-width: $mobile)
      width: 100%

  &.third-wide
    width: 33.33%

    @media (max-width: $mobile)
      width: 50%

  &.fourth-wide
    width: 25%

    @media (max-width: $mobile)
      width: 50%

  .radio input
    margin-right: 5px

.customr-control-label
  display: block
  margin: 10px 0 2px 0

.customr-actionable
  display: none
  margin: 15px 0

.customr-wrapper
  max-width: 500px
  margin: 10px auto
  text-align: left

  input[type="text"], input[type="tel"], input[type="email"], input[type="password"]
    width: 100%

  input,select
    &.error
      border-color: #d02e2e

.customr-field-file
  a.attachment
    margin: 18px 0
    display: block
    position: relative

    &:hover
      .remove
        display: inline-block

    .remove
      display: none
      height: 20px
      width: 20px
      background: url($remove) no-repeat center center
      background-size: 100% 100%
      position: absolute
      top: -10px
      left: -10px

    img
      max-height: 150px

    span
      color: #555
      background: #eee
      border: 1px solid #ddd
      padding: 5px 10px

      &:hover
        background: #f6f6f6
        color: black

  label
    &:after
      content: ''
      display: inline-block
      position: relative
      left: 6px
      top: 8px
      height: 25px
      width: 25px
      opacity: 0
      transform: translateY(-30px)

  &.uploading
    label
      &:after
        background: url($loader) no-repeat center center
        background-size: 80% auto
        transform: translateY(0)
        opacity: 1

.customr-fields
  &[data-registration="true"]
    .customr-hide-registration
      display: none

.customr-loader
  display: none
  margin: auto

  &.active
    display: block
