.docs
  max-width: 900px
  
  .top
    text-align: center
    
  header
    padding: 20px 0
    margin: 20px 0
    border-top: 1px solid lighten($light-color, 40%)
    border-bottom: 1px solid lighten($light-color, 40%)
    text-align: center
    
    h2, h3
      margin: 0
      padding: 0
      
    h3
      font-weight: 300
  
  img
    max-width: 100%
    margin: 10px 0
    
  textarea
    width: 100%
    height: 200px
    background: $light-color
    color: lighten($light-color, 30%)
    font-size: 11px
    margin: 20px 0
    font-family: "Monaco"
    line-height: 12px
    border: 1px

  
  pre
    padding: 10px
    background: $light-color
    color: lighten($light-color, 30%)
    

.support
  max-width: 900px