$primary-color: #a800ff;
$primary-light-color: #9eb4ca;
$secondary-color: black;
$light-color: #7b7e8c;
$ultra-light-color: #f6f5fa;
$border-color: #f2ebf3;
$menu-color: #f0eef8;
$dark-color: #1d0c20;
$water-color: rgba(182, 191, 197, 0.25);
$ghost-color: rgba(182, 191, 197, 0.1);
$ink-color: rgba(0, 0, 0, 0.3);
$green: #3ac836;
$red: #d64949;
