@font-face
  font-family: 'Glober'
  src: asset-url('fonts/Glober_Thin-webfont.woff') format('woff'), asset-url('fonts/Glober_Thin_webfont.eot') format('eot')
  font-weight: 100
@font-face
  font-family: 'Glober'
  src: asset-url('fonts/Glober_Light-webfont.woff') format('woff'), asset-url('fonts/Glober_Light_webfont.eot') format('eot')
  font-weight: 200
@font-face
  font-family: 'Glober'
  src: asset-url('fonts/Glober_Book-webfont.woff') format('woff'), asset-url('fonts/Glober_Book-webfont.eot') format('eot')
  font-weight: 300
@font-face
  font-family: 'Glober'
  src: asset-url('fonts/Glober_Regular-webfont.woff') format('woff'), asset-url('fonts/Glober_Regular-webfont.eot') format('eot')
  font-weight: normal
@font-face
  font-family: 'Glober'
  src: asset-url('fonts/Glober_SemiBold-webfont.woff') format('woff'), asset-url('fonts/Glober_SemiBold-webfont.eot') format('eot')
  font-weight: 500
@font-face
  font-family: 'Glober'
  src: asset-url('fonts/Glober_Bold-webfont.woff') format('woff'), asset-url('fonts/Glober_Bold-webfont.eot') format('eot')
  font-weight: bold

$font: 'Glober'
$heading_font: 'Glober'
