// Vertical align children elements
@mixin align-middle {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  >* {
    vertical-align: middle;
  }
}

// One element
@mixin middle {
  display: inline-block;
  vertical-align: middle;
}

@mixin upcase {
  text-transform: uppercase;
}

@mixin aspect-ratio($x, $y, $percentage) {
  @media (min-aspect-ratio: $x"/"$y) {
    width: $percentage;
    height: auto;
  }
  
  @media (max-aspect-ratio: $x"/"$y) {
    width: auto;
    height: $percentage;
  }
}

@mixin scale-as-ratio($percentage) {
  position: relative;
  padding-top: $percentage;

  > *:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@mixin border-box {
  box-sizing: border-box;
}

@mixin fadeIn {
  @include keyframes(fadeIn) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@mixin background-4-3 {
  background-size: 100% auto;
  
  @media (max-aspect-ratio: 4/3) {
    background-size: auto 100%;
  }
    
}

@mixin border-radius($size) {
  @include border-top-radius($size);
  @include border-bottom-radius($size);
}

@mixin clear-float {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}