.front-end
  background: $ultra-light-color

  &:after
    content: ''
    position: fixed
    left: calc(50% + 550px)
    top: 0
    background: white
    z-index: -1
    right: 0
    height: 100%

  .sidemenu
    position: fixed
    top: 0
    left: 0
    right: 0
    width: 1100px
    margin: auto

    nav
      width: 300px
      padding: 20px
      +border-box

      .logo
        margin-bottom: 20px
        display: block
        position: relative
        left: -5px

        img
          height: 35px

      ul
        margin: 0 10px

      > ul
        margin: 30px 0

        > li
          margin: 15px 0

          > ul
            display: none

            a
              color: lighten($dark-color, 40%)
              display: block
              padding: 2px 0

              &.active
                color: $primary-color

          > a
            color: $dark-color

            &.active
              font-weight: bold

              ~ ul
                display: block

    ~ main
      padding-left: 300px
      padding-top: 0
      margin: auto
      width: 1100px

      .main-content
        background: white
        min-height: 100vh
        padding: 20px 40px
        position: relative
        border-left: 1px solid #e5e7e8
        +border-box

        img
          max-width: 100%

      textarea
        display: block
        width: 100%
        height: 100px
        margin: 10px 0
        font-size: 11px
        font-family: "Courier New", Courier, monospace

      pre
        font-size: 0.7em
        padding: 10px
        background: #f6f6f6
        border: 1px solid #ccc

  .quick-links
    z-index: 10
    position: absolute
    top: 10px
    right: 10px

    .button
      margin-left: 10px
