/* Basic elements */
::selection
  background: $primary-color
  color: white
::-moz-selection
  background: $primary-light-color
  color: white

body
  font-family: $font, sans-serif
  color: $dark-color
  background: linear-gradient(-15deg, #5466E2, #7037CD)
  background-repeat: no-repeat

h1, h2, h3, h4, h5, h6
  font-family: $heading_font

h1
  font-size: 2.5em
  font-weight: 200
  margin-bottom: 0

p
  margin-top: 0

p, .rte
  font-family: $font

a:link, a:visited, .link
  font-family: $font, sans-serif
  text-decoration: none
  color: $primary-color
  cursor: pointer
  transition: color 0.4s ease

  &.cta
    font-weight: bold
    +upcase
    font-size: 0.9em
    border-bottom: 2px solid $primary-color

.button, input[type=submit], button, a.button
  background: $secondary-color
  color: white
  +border-radius(3px)
  +upcase
  font-weight: bold
  padding: 7px 14px
  border: none
  font-size: 14px
  cursor: pointer
  display: inline-block

  &.wide
    width: 160px
    text-align: center

  &.light
    background: white
    color: lighten($dark-color, 20%)

    &:hover
      color: $dark-color
      background: white

  &.secondary
    background: $ultra-light-color
    color: $light-color
    border: 1px solid $light-color
    font-weight: 500

    &:hover
      background: white

  &.cta
    background: $primary-color
    padding: 7px 14px 5px 14px
    border-bottom: 2px solid darken($primary-color, 15%)

    &:hover, &:focus
      background: lighten($primary-color, 10%)

  &:hover, &:focus
    background: lighten($secondary-color, 10%)

  &:disabled
    opacity: 0.3
    filter: grayscale(100%)

  &.harmful
    background: $red
    color: white

input:focus, select:focus, textarea:focus, button:focus
  outline: none

input, .ui.form input
  &[type=text], &[type=search], &[type=url], &[type=tel], &[type=number], &[type=color], &[type=email], &[type=password]
    border: 1px solid #ccc
    background: #fff
    padding: 7px
    +border-radius(3px)
    font-size: 1em
    color: $dark-color
    font-family: $font
    transition: border-color 0.3s ease

    &:focus
      border-color: $primary-color

textarea
  border: 1px solid #ccc
  background: #fff
  padding: 7px
  +border-radius(3px)
  font-size: 1em
  color: $dark-color

select
  appearance: none
  padding: 7px 30px 7px 14px
  background: white
  border: 1px solid #ccc
  outline: none
  color: $dark-color
  +border-radius(3px)
  background-image: asset-url('app_styles/select-dropdown.svg')
  background-repeat: no-repeat
  background-position: center right
  background-size: auto 50%

.errors
  color: red
  text-align: left

.touch
  input:hover
    border: 2px solid darken($water-color, 30%)

.svg-fallback
  display: none

.rte
  img
    max-width: 100%

form
  margin: 0
