aside.main-menu
  header
    .logo
      = image_tag "logo.svg"
      
    a.main-back.icon-arrow-left

  = render 'layout/main_menu_inner'

  footer
    a.company-link href="http://heliumdev.com" target="blank"
      = image_tag "logo-circle.svg", class: "h-logo"
      .text
        .lite App by
        ' Helium
