.site-footer
  padding: 60px 0 40px 0
  text-align: center
  background: $dark-color
  color: $light-color
  img
    height: 80px

  .fineprint
    margin-top: 15px
    padding-top: 15px
    clear: both
    font-weight: normal
    font-size: 0.7em

    span
      float: right

      +respond-to("small")
        float: none
        display: block
        margin-top: 10px
