main
  header
    padding-top: 20px
    color: white

    h1
      margin: 0
      font-size: 1.4em
      font-weight: 500
      text-transform: uppercase
      letter-spacing: 1px

    p
      margin: 0
      font-size: 0.9em
      opacity: 0.6

    a:link, a:visited
      color: white
