main
  margin-left: 250px
  position: relative

.centered
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center

body.condensed
  main
    margin-left: 75px

.width-restrict
  max-width: 700px

.content.main-content
  min-height: 70vh
  padding-bottom: 30px

.content
  padding: 0 40px
  +border-box

  &.small-content
    max-width: 600px

  +respond-to("medium")
    width: 95%
  +respond-to("small")
    width: 95%

.reading-text
  max-width: 700px

.actionable
  float: right
  position: relative
  top: -40px

  .link-button
    i[class*="icon-"]
      font-size: 2em
      vertical-align: middle
      margin-right: 7px

    span
      text-transform: uppercase
      vertical-align: middle
