$border: rgba(255,255,255,0.1)

.main-menu
  position: fixed
  width: 250px
  background: rgba($dark-color, 0.8)
  top: 0
  left: 0
  height: 100%
  +border-box
  border-right: 1px solid rgba(255,255,255,0.5)

  header
    height: 90px
    text-align: center

    &:before
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle

    .logo
      display: inline-block
      vertical-align: middle
      width: 80%

      img
        width: 100%

    .main-back
      display: none
      vertical-align: middle
      color: white
      width: 100%
      text-align: center
      font-size: 1.7em

  ul
    margin: 5px 0 0 0
    padding: 0

    li
      margin: 0
      padding: 0
      list-style-type: none

      a
        display: block
        padding: 14px
        font-size: 1.1em
        font-weight: 200
        color: white
        position: relative
        opacity: 0.6

        &.active
          opacity: 1
          background: rgba(255,255,255,0.07)
          border-top: 1px solid $border
          border-bottom: 1px solid $border
          padding: 13px 14px
          font-weight: 400

          .icon
            opacity: 1

      .icon
        position: absolute
        right: 20px
        top: 4px
        height: 100%
        font-size: 1.6rem
        opacity: 0.5

        &:after
          content: ''
          display: inline-block
          vertical-align: middle
          height: 100%

  footer
    position: absolute
    bottom: 0
    width: 100%
    border-top: 1px solid $border
    +border-box
    color: white
    padding: 20px 0

    .company-link
      display: block
      margin-left: 8px

    .text
      color: white
      display: inline-block
      width: calc(70% - 5px)
      vertical-align: middle
      font-size: 1.5em
      font-weight: 200
      position: relative
      top: 1px
      +border-box

      .lite
        font-weight: 400
        margin-bottom: -3px
        color: rgba(255,255,255,0.4)
        font-size: 0.9rem

    .h-logo
      height: 50px
      margin: 0 10px
      vertical-align: middle

body.condensed
  .main-menu
    width: 75px

    .logo
      display: none

    .main-back
      display: inline-block

    ul
      a
        font-size: 0

        .icon
          font-size: 1.6rem
          position: static
          margin-left: 6px

          &:after
            display: none

    .company-link
      margin-left: 2px
      .text
        display: none
