.accordion
  section
    display: none
    padding-top: 2px
    border-top: 1px solid #eee
    margin-top: 2px

  > label
    user-select: none
    cursor: pointer

    &:before
      content: "\f0da"
      font-family: "Icons"
      margin-right: 5px
      display: inline-block

  input[type="checkbox"]
    display: none

    &:checked
      ~ section
        display: block

      ~ label
        &:before
          transform: rotate(90deg)
