.block
  background: white
  padding: 20px
  margin: 20px 0
  border-radius: 4px
  box-shadow: 1px 1px 10px rgba(0,0,0,0.07)

  &.flow
    display: inline-block
    padding: 20px
    
  h1, h2
    margin-top: 0

  form
    margin: 0
