.field
  margin: 10px 0
  
  label
    width: 100%

  input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"]
    width: 100%

  h2, h3, h4
    margin: 0
