.page-notices
  text-align: center
  margin: 0

  li
    display: inline-block
    margin: 0
    padding: 10px 20px
    border-radius: 2px
    text-align: center
    list-style-type: none

    &.alert
      background: $red
      color: white

    &.notice, &.message
      background: $green
      color: white
