.field
  margin: 10px 0

  input[type="text"], input[type="email"], input[type="phone"], input[type="password"]
    font-size: 3em
    width: 90%
    max-width: 600px
    background: transparent
    border: none
    text-align: center
    font-weight: 200
    color: white

    &::placeholder
      color: rgba(255,255,255,0.5)
