.modal
  opacity: 0
  z-index: -1
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0,0,0,0.3)
  text-align: center

  .modal-inner
    display: inline-block
    position: relative
    height: 80%
    margin-top: 5%
    text-align: left
    width: 100%
    max-width: 600px
    background: white
    +border-radius(3px)
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2)
    padding: 20px
    opacity: 0
    transform: scale(1.2)
    transition: all 0.3s ease

    h1
      margin: 5px 0
      padding: 5px 0
      font-size: 1.5em
      border-bottom: 1px solid rgba(0,0,0,0.1)

    label
      display: block
      margin: 10px 0

      input[type="text"]
        width: 100%

    .modal-content
      overflow: auto
      height: calc(100% - 90px)

    .modal-buttons
      position: absolute
      right: 10px
      bottom: 10px

  &.active
    opacity: 1
    z-index: 400

    .modal-inner
      transform: scale(1)
      opacity: 1
