.invisible
  visibility: hidden
  position: absolute
  bottom: 5000px
  right: 5000px

.visible
  visibility: visible !important

.white
  color: white

.clear
  clear: both

.thin
  font-weight: 300

.upcase
  +upcase

.cloud
  color: $light-color

.lite
  color: $light-color
  font-size: 0.8em

.fullwidth
  width: 100%

.on-sale
  background: $primary-color
  color: white
  +border-radius(3px)
  padding: 3px 6px
  +upcase
  font-size: 0.8em

.wing-heading
  text-align: center
  font-weight: 200
  margin: 80px 0
  color: $dark-color
  +upcase

  &:before, &:after
    content: ''
    display: inline-block
    height: 1px
    width: 10%
    background: $dark-color
    vertical-align: middle
    margin: 0 10px

    +respond-to("small")
      width: 0
hr
  border-style: solid
  border-width: 0px
  height: 1px
  background: #e6e6e6
  &.gray
    background: gray


.tiny-search
  +align-middle
  display: inline-block
  min-width: 35px
  height: 35px
  border-radius: 20px
  text-align: center
  cursor: pointer
  border: 2px solid white

  #tiny-search-field
    vertical-align: center
    width: 1px
    padding: 0
    margin: 0 15px 0 0
    border-width: 0
    font-size: 16px
    background: none
    color: white
    outline: none
    opacity: 0
    transition: all 0.1s ease-out
    &:focus
      padding: 0 12px
      width: 150px
      opacity: 1
      transition: all 0.1s ease-out

  .search-icon
    vertical-align: middle
    position: relative
    display: inline-block
    height: 17px
    margin-right: -10px
    left: -15px

.action-button
  cursor: pointer

  &:hover
    cursor: pointer !important

.pagination
  text-align: center
  margin: 40px 0

  .page
    a:link, a:visited, &.current
      padding: 6px 15px
      margin: 0 3px
      background: $water-color
      color: $primary-color
      +border-radius(4px)

    &.current
      background: $primary-color
      color: white

.aligncenter
  display: block
  margin: auto

a.cta-circle
  margin-top: 80px
  font-size: 18px
  color: $light-color
  height: 250px
  width: 250px
  +border-radius(250px)
  border: 1px solid white
  display: inline-block
  +align-middle
  transition: transform 0.5s ease, border-color 0.3s ease

  > *
    display: inline-block

  &:hover
    transform: translateY(-10px)
    border-color: $primary-color

  h3
    font-weight: 300
    font-size: 30px
    margin: 0
    color: $primary-color
    +upcase

  +respond-to("small")
    height: 180px
    width: 180px
    font-size: 14px

    h3
      font-size: 24px

.pagination
  li
    display: inline-block
    list-style-type: none

    &.active
      a
        border-bottom: 2px solid $primary-color

    a:link, a:visited
      margin: 10px
      padding: 5px 10px
      color: $light-color

.green
  color: $green

.settings-dropdown
  position: relative
  float: right
  top: -50px
  padding: 10px
  +border-top-radius(3px)
  cursor: pointer

  &:hover
    border-top: 1px solid darken($menu-color, 10%)
    border-left: 1px solid darken($menu-color, 10%)
    border-right: 1px solid darken($menu-color, 10%)
    padding: 9px 9px 10px 9px

    ul
      display: block

    i.setting
      transform: rotate(90deg)
  i
    margin: 0
    font-size: 1.5em
    transition: transform 0.4s ease

  ul
    display: none
    margin: 0
    padding: 10px
    position: absolute
    top: 100%
    right: -1px
    z-index: 300
    width: 200px
    background: $menu-color
    border: 1px solid darken($menu-color, 10%)
    +border-bottom-radius(3px)
    +border-left-radius(3px)

    li
      list-style-type: none
      padding: 0
      margin: 5px

      a
        color: $dark-color

        &:hover
          color: black
          text-decoration: underline

.table.ui
  td
    vertical-align: top

.form
  .ui.toggle.checkbox
    cursor: pointer

    .on, .off
      position: absolute
      top: 3px
      z-index: 1
      font-size: 10px
      +upcase
      font-weight: bold
    .on
      left: 10px
      opacity: 0
      color: white

    .off
      right: 22px

    input:checked
      ~ .on
        opacity: 1

      ~ .off
        opacity: 0

      ~ label:before
        background: $green !important

[data-tooltip]:after
  width: 200px
  white-space: normal
  font-size: 0.9em
