.mobile-menu-button
  position: absolute
  top: 15px
  left: 15px
  padding: 5px
  margin-top: 5px
  text-align: center
  border: none
  
  +scale-up("small")
    display: none
  
.site-nav .nav-links
  z-index: 300
  margin-top: 10px
  color: white
  
  +respond-to("small")
    font-size: 0
    
  > li
    margin: 0
    position: relative
      
    &.has-dropdown:hover
      > a
        background: white
        color: $dark-color
        z-index: 3
        border-color: $ink-color
        
      ul
        display: block
      
    > a
      padding: 4px 8px
      +border-top-radius(3px)
      position: relative
      border-top: 1px solid transparent
      border-left: 1px solid transparent
      border-right: 1px solid transparent
        
    ul
      display: none
      position: absolute
      text-align: left
      background: white
      left: 0
      width: 200px
      z-index: 2
      +border-bottom-radius(3px)
      +border-right-radius(3px)
      padding: 10px
      border: 1px solid $ink-color
      top: calc(100% + 4px)
      
      li
        display: block
        font-size: 0.9em
        
        a:link, a:visited
          padding: 5px 0
          display: inline-block
          color: $dark-color
    
  a:link, a:visited
    color: $light-color
    
    +respond-to("small")
      font-size: 14px
      display: block
      background: $secondary-color
      color: white !important
      padding: 10px
      border-bottom: 1px solid rgba(255,255,255,0.5)

+scale-up("small")
  .site-nav.dark
    a:link, a:visited
      color: $dark-color
      text-shadow: 0 1px 0 white
    
    .cart-button
      path
        fill: $dark-color