table.ui
  width: 100%
  margin: 10px 0
  border: 1px solid $border-color
  box-shadow: none
  border-radius: 4px
  text-align: left
  border-collapse: separate
  border-spacing: 0px

  th
    background: $ultra-light-color

  td, th
    padding: 8px
    border-right: 1px solid $border-color
    border-bottom: 1px solid $border-color

    &:last-child
      border-right: none

  tbody
    tr:last-child
      td
        border-bottom: none
